# ================= TELEGRAM =================
TELEGRAM_TOKEN="TOKEN"
TELEGRAM_CHAT_ID="CHAT_ID"

# ================= WHATSAPP (SENDORA) =================
WHATSAPP_API_URL="https://sendora.web.id/api/v1/messages/send"
WHATSAPP_TOKEN="API_TOKEN"
WHATSAPP_DEVICE_KEY="user-3-main"
WHATSAPP_NUMBER="6281234567890"

# ================= NOTIF =================
# telegram, whatsapp or both
NOTIF_CHANNEL=telegram

